.intro {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 14px;
  justify-content: center;
  grid-auto-rows: 80px; }
  .intro .introTitle {
    grid-column: 9/12;
    grid-row: 1/5;
    font-size: 2.8rem; }
  .intro .introText {
    background-color: #1AC775;
    grid-column: 7/12;
    grid-row: 5/10;
    display: flex;
    justify-content: flex-end;
    position: inherit; }
    .intro .introText .introTextPara {
      width: 250px; }
      .intro .introText .introTextPara p {
        font-size: 1.4rem;
        line-height: 30px; }
  .intro .introNavegador {
    grid-column: 11;
    grid-row: 8; }
  .intro .introImg {
    grid-column: 1/9;
    grid-row: 1/9; }
    .intro .introImg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

@media (max-width: 768px) {
  .intro {
    grid-template-columns: repeat(4, 80px);
    column-gap: 11px; }
    .intro .introTitle {
      margin-top: 0;
      grid-column: 1/5;
      grid-row: 1/2;
      font-size: 2rem; }
    .intro .introImg {
      grid-column: 1/4;
      grid-row: 2/6; }
    .intro .introText {
      grid-column: 2/5;
      grid-row: 5/8;
      align-items: center; }
      .intro .introText .introTextPara {
        margin-top: 50px;
        justify-content: center; }
        .intro .introText .introTextPara p {
          font-size: 1rem;
          line-height: 18px; }
    .intro .introNavegador {
      grid-column: 4;
      grid-row: 7;
      display: flex;
      flex-direction: row-reverse; } }

.article1 h2 {
  margin-left: 15%;
  font-size: 3rem; }

.queOfrecemos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -80px; }
  .queOfrecemos h3 {
    font-size: 2.3rem;
    height: 60px;
    color: #FEF9FF;
    background-color: #fe007200;
    margin-top: 20px;
    background-color: #FE0074; }
    .queOfrecemos h3 span {
      text-decoration: line-through; }
  .queOfrecemos .queOfrecemosIntro {
    font-size: 1.2rem; }
  .queOfrecemos .notConsulting {
    width: 500px; }
  .queOfrecemos .recruiting {
    width: 500px; }
    .queOfrecemos .recruiting .navegadorIcon {
      display: flex;
      justify-content: flex-end;
      margin-top: -70px;
      height: 120px; }
    .queOfrecemos .recruiting .recruitingImg img {
      width: 409px;
      height: 409px;
      object-fit: cover;
      border-radius: 50%;
      margin-top: 30px;
      margin-left: 30px; }
  .queOfrecemos .recruitingFlex {
    margin-top: 50px; }
  .queOfrecemos .consultingFlex {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center; }
    .queOfrecemos .consultingFlex p {
      font-weight: bolder;
      margin-left: 5%;
      font-size: 1.3rem; }
    .queOfrecemos .consultingFlex .consutlingImg {
      height: 56px;
      width: 48px; }
      .queOfrecemos .consultingFlex .consutlingImg img {
        object-fit: cover; }

.pinkBar {
  background-color: #FE0074;
  height: 80px;
  width: 100%; }

@media (max-width: 768px) {
  .pinkBar {
    display: none; }
  .article1 {
    display: flex;
    flex-direction: column; }
    .article1 h2 {
      margin-left: 5%;
      font-size: 2rem;
      margin-top: 40px; }
  .queOfrecemos {
    width: 375px;
    flex-direction: column;
    margin-top: 10px; }
    .queOfrecemos h3 {
      margin-top: 30px; } }

.peoplePartners {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .peoplePartners .peopleTitle {
    background-color: #1A1A1A;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
    display: flex;
    justify-items: center; }
    .peoplePartners .peopleTitle h2 {
      justify-content: center; }
  .peoplePartners .peoplePartnersFlex {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid  #1A1A1A 1px;
    display: flex; }
    .peoplePartners .peoplePartnersFlex div {
      width: 50%;
      height: 400px; }
    .peoplePartners .peoplePartnersFlex img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .peoplePartners .peoplePartnersFlex .peopleText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-left: solid  #1A1A1A 1px;
      border-right: solid  #1A1A1A 1px; }
      .peoplePartners .peoplePartnersFlex .peopleText h3 {
        color: #FE0074;
        font-size: 2rem;
        margin: 25px; }
      .peoplePartners .peoplePartnersFlex .peopleText P {
        align-items: center;
        margin: 25px;
        font-size: 1.3rem; }

.somosTalentifiers {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 14px;
  grid-auto-rows: 80px;
  justify-content: center; }
  .somosTalentifiers .talentifiersTitle {
    grid-column: 4/10;
    grid-row: 1;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .somosTalentifiers .talentifiersAbout {
    grid-column: 1/10;
    grid-row: 6/12;
    background-color: #1AC775;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    .somosTalentifiers .talentifiersAbout h3, .somosTalentifiers .talentifiersAbout p {
      margin-left: 70px;
      margin-right: 100px; }
    .somosTalentifiers .talentifiersAbout h3 {
      color: white;
      font-size: 2rem; }
    .somosTalentifiers .talentifiersAbout p {
      font-size: 1.2rem; }
      .somosTalentifiers .talentifiersAbout p span {
        font-weight: bold; }
  .somosTalentifiers .talentifiersHistoria {
    grid-column: 4/11;
    grid-row: 12/18;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -50px; }
    .somosTalentifiers .talentifiersHistoria h3 {
      color: #FE0074;
      font-size: 2rem; }
    .somosTalentifiers .talentifiersHistoria p span {
      font-weight: bold; }
  .somosTalentifiers .talentifiersImg {
    margin-top: 35px;
    grid-column: 7/12;
    grid-row: 2/8; }
    .somosTalentifiers .talentifiersImg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%; }
  .somosTalentifiers .talentifiersLines {
    grid-column: 10/13;
    grid-row: 11/12;
    margin-left: -14px;
    border-bottom: black solid 1px;
    border-top: black solid 1px; }
  .somosTalentifiers .talentifiersLines2 {
    border-left: black solid 1px;
    border-right: black solid 1px;
    grid-column: 2/3;
    grid-row: 12/18; }
  .somosTalentifiers .talentifiersLines3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-left: black solid 1px;
    border-right: black solid 1px;
    grid-column: 11/12;
    grid-row: 12/18; }
    .somosTalentifiers .talentifiersLines3 img {
      margin-bottom: 5%; }

header {
  height: 100px; }

.navbar {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  background-color: #1A1A1A;
  color: white;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }
  .navbar h2 {
    display: none; }

.brand-title {
  background-color: white; }
  .brand-title .headerLogo img {
    object-fit: contain;
    height: 100px;
    width: 100%; }

.navbar-links {
  height: 100px;
  width: 100%; }
  .navbar-links ul {
    height: 100%;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly; }
  .navbar-links li {
    list-style: none; }
    .navbar-links li a {
      text-decoration: none;
      color: white;
      padding: 1rem; }

.navbar-links li:hover {
  background-color: #555; }

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 30px; }

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px; }

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; }
    .navbar .brand-title {
      background-color: #1A1A1A; }
      .navbar .brand-title .headerLogo {
        display: none; }
      .navbar .brand-title a {
        text-decoration: none; }
      .navbar .brand-title h2 {
        display: block;
        margin-left: 15%;
        color: #FEF9FF;
        font-size: 2rem; }
  .toggle-button {
    display: flex;
    margin-top: 20px;
    margin-right: 5%;
    background-color: #1A1A1A;
    border: none; }
  .navbar-links {
    display: none;
    width: 100%; }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    background-color: #1A1A1A; }
  .navbar-links ul li {
    text-align: center;
    background-color: #1A1A1A; }
  .navbar-links ul li a {
    padding: .5rem 1rem;
    font-size: 1.3rem; }
  .navbar-links.active {
    display: flex;
    height: 450px; } }

.containerNosotros {
  max-width: 100%;
  margin-top: 50px;
  overflow: hidden;
  justify-content: center;
  justify-self: center; }
  .containerNosotros h2 {
    font-size: 3rem;
    margin-left: 5%; }
    @media (max-width: 768px) {
      .containerNosotros h2 {
        font-size: 2rem; } }

.slider {
  width: 100%; }

.slick-slide {
  margin: 0 20px; }

.slick-slide img {
  width: 100%;
  display: block; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

.slick-list {
  position: relative;
  display: block;
  margin: 0;
  padding: 0; }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box; }

.slick-initialized .slick-slide {
  display: block; }

.divNosotros p {
  font-size: 1rem;
  height: 20%;
  line-height: 1.5em;
  margin-top: 30%;
  padding: 30px; }
  @media (max-width: 480px) {
    .divNosotros p {
      text-align: justify;
      font-size: 0.6rem;
      justify-content: center;
      padding: 15px; } }

footer {
  background-color: black; }

footer .container {
  width: 100%;
  display: flex; }

.title-footer {
  font-size: 3rem;
  font-weight: 1200rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  text-align: left;
  padding-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 100px; }

@media (max-width: 488px) {
  .title-footer {
    font-size: 2rem;
    text-align: center; } }

.div-contact-data {
  display: inline-block;
  flex-wrap: wrap;
  padding: 2em; }
  @media (max-width: 575.98px) {
    .div-contact-data {
      padding: 1em;
      justify-content: center;
      display: block; } }

.div-icon-data {
  display: flex;
  justify-content: end;
  align-items: baseline; }
  @media (max-width: 575.98px) {
    .div-icon-data {
      justify-content: center; } }
  @media (max-width: 992px) {
    .div-icon-data {
      justify-content: center; } }

.p-contact-data {
  font-size: 1em;
  font-weight: 600;
  color: white;
  text-align: justify;
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none; }
  @media (max-width: 575.98px) {
    .p-contact-data {
      font-size: 0.6em;
      text-align: center; } }
  @media (max-width: 992px) {
    .p-contact-data {
      text-align: center; } }

.fa-instagram, .fa-phone-alt, .fa-linkedin, .fa-envelope {
  font-size: 2.5rem;
  color: #fc0a83;
  margin-right: 1rem; }
  @media (max-width: 560px) {
    .fa-instagram, .fa-phone-alt, .fa-linkedin, .fa-envelope {
      font-size: 1.5rem; } }

.titleFont {
  font-family: 'Raleway', sans-serif; }

p, a {
  font-family: 'Montserrat Alternates', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }
