
// Footer Charlemos
footer{
    background-color: black;
    width: 100%;
    height: 280px;
    h2{
        color: white;
    }
    p{
        color: white;
    }
    i{
        color: #FE0074;
    }
    .footerContainer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .footerHeader{
            margin-left: 5%;
            h2{
                font-size: 2.3rem;
            }

        }
        .footerLinks{
            height: 100px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            .linksFlex{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .data{
                    margin-bottom: 5%;
                    i{
                        font-size: 3rem;
                        margin-right: 15px;
                    }
                    a{
                        font-size: 1.4rem;
                        text-decoration: none;
                        color: white;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}





@media (max-width:768px){
    footer{
        .footerContainer{
            .footerHeader{
                margin-bottom: 15px;
                h2{
                    font-size: 1.8rem;
                }
    
            }
    
            .footerLinks{
                margin-left: 10%;
                align-items: baseline;
                justify-content: center;
                .linksFlex{
                    .data{
                        a{
                            font-size: .9rem;
                            i{
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

        }

    }
    .data{
        a{
            font-size: rem;
        }
    }
    .footerLinks{
        flex-direction: column;
    }
}


