header{
    height: 100px;
}
.navbar {
    display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    background-color: #1A1A1A;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    h2{
        display: none;
    }
}

.brand-title {
    background-color: white;
    .headerLogo{
        img{
            object-fit: contain;
            height: 100px;
            width: 100%;
        }
    }
}

.navbar-links {
    height: 100px;
    width: 100%;
    
    ul{
        height: 100%;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
    }
    li{
        list-style: none;
        a{
            text-decoration: none;
            color: white;
            padding: 1rem;
        }
    }
}
.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
        .brand-title{
            background-color: #1A1A1A;
            .headerLogo{
                display: none;
            }
            a{
                text-decoration: none;
            }
            h2{
                display: block;
                margin-left: 15%;
                color: #FEF9FF;
                font-size: 2rem;
            }
        }
    }
    .toggle-button {
        display: flex;
        margin-top: 20px;
        margin-right: 5%;
        background-color: #1A1A1A;
        border: none;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        background-color: #1A1A1A;
    }

    .navbar-links ul li {
        text-align: center;
        background-color: #1A1A1A;

    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-size: 1.3rem;
    }

    .navbar-links.active {
        display: flex;
        height: 450px;
    }
}
