.intro{
    display: grid;
    grid-template-columns: repeat(12, 80px);
    column-gap: 14px;
    justify-content: center;
    grid-auto-rows:80px;

    .introImg{
        grid-column: 2/9;
        grid-row: 1/9;
        background-color: red;
    }
    .introTitle{
        grid-column: 9/12;
        grid-row: 1/4  ;
        background-color: blue;
    }
    .introText{
        background-color: green;
        grid-column: 8/12;
        grid-row: 4/10;
    }
}