.article1{
    h2{
        margin-left: 15%;
        font-size: 3rem;
    }
}


.queOfrecemos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -80px;
    h3{
        span{
            text-decoration: line-through;
        }
        font-size: 2.3rem;
        height: 60px;
        color: #FEF9FF;
        background-color: #fe007200;
        margin-top: 20px;
        background-color: #FE0074;
    }
    .queOfrecemosIntro{
        font-size: 1.2rem;
    }
    .notConsulting{
        width: 500px;
    }
    .recruiting{
        width: 500px;
        .navegadorIcon{
            display: flex;
            justify-content: flex-end;
            margin-top: -70px;
            height: 120px;
        }
        .recruitingImg{
            img{
                width: 409px;
                height: 409px;
                object-fit: cover;
                border-radius: 50%;
                margin-top: 30px;
                margin-left: 30px;
            }
        }
        
    }
    .recruitingFlex{
        margin-top: 50px   ;
    }
    .consultingFlex{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        p{
            font-weight:bolder;
            margin-left: 5%;
            font-size: 1.3rem;
        }
        .consutlingImg{
            height: 56px;
            width: 48px;
            img{
                object-fit: cover;
            }
        }
    }

}

.pinkBar{
    background-color: #FE0074;
    height: 80px;
    width: 100%;
}

